body {
    position: fixed;
    background-image: url('../star-wars-backgrounds-14.jpg');
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}

.container {
    margin: auto;
    padding: 10em 15em;
}

.form input {
    font-size: 1.2em;
    padding: 0.6em;
    width: 25em;
    border: none;
    border-radius: 5px;
    display: block;
}

.form > input:nth-child(3) {
    margin-top: 1em;
}

.inner-container {
    display: inline-block;
}

.inner-container > h1 {
    margin-top: 0;
}

.btn-container {
    margin-top: 2em;
    text-align: right;
    margin-bottom: 5em;
}

.action-btn {
    padding: 1em 2em;
    background-color: #008CBA;
    border-radius: 5px;
    font-weight: 500;
    text-decoration: none;
    color: white;
}

.action-btn:hover {
    background-color: rgb(0, 126, 168);
    transition: 0.3s;
}

.list-container {
    display: none;
    font-size: 1.5em;
    margin-bottom: 0;
}

.list-container > div:first-child {
    border-bottom: 2px solid #cecece;
}
.list-container > div > span {
    font-weight: 700;
    font-size: 1.5em;
    padding-bottom: 0.2em;
    margin-bottom: 0;
    cursor: pointer;
}

.list-container > h2 {
    padding-bottom: 0.2em;
    border-bottom: 2px solid #cecece;
    margin-bottom: 0;
    cursor: pointer;
}

.active {
    display: block;
}

.list-title > i {
    font-size: 0.8em;
    margin-left: 0.5em;
}

.list-title:hover {
    color: #e7e7e7;
    transition: 0.3s;
}

.list {
    overflow: auto;
    max-height: 19em;
}
li {
    margin: 0.5em 0em;
}

li > p {
    display: inline;
    cursor: pointer;
}
li > i {
    color: red;
    margin-left: 2em;
    cursor: pointer;
}

li > span {
    display: block;
    color: rgb(197, 197, 197);
    font-size: 0.8em;
    cursor: pointer;
    width: fit-content;
}

li > p:nth-child(3) {
    display: block;
    padding-left: 1.4em;
    margin: 0;
}

::-webkit-scrollbar {
    width: 0.2em;
}
  
::-webkit-scrollbar-track {
    background: #cecece;
    
}
   
::-webkit-scrollbar-thumb {
    background: #ffffff;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}