body {
    background-image: url('../star-wars-backgrounds-14.jpg');
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    margin: auto;
    padding: 15em;
}

.form input {
    font-size: 1.2em;
    padding: 0.6em;
    width: 25em;
    border: none;
    border-radius: 5px;
    display: block;
}

.form > input:nth-child(3) {
    margin-top: 1em;
}

.inner-container {
    display: inline-block;
}

.inner-container > div {
    margin-bottom: 5em;
}

.btn-container {
    margin-top: 2em;
    text-align: right;
}

.action-btn {
    padding: 1em 2em;
    background-color: #008CBA;
    border-radius: 5px;
    font-weight: 500;
    text-decoration: none;
    color: white;
}

.action-btn:hover {
    background-color: rgb(0, 126, 168);
    transition: 0.3s;
}

.list-container {
    color: white;
    font-size: 1.5em;
}

.list-container > h2 {
    padding-bottom: 0.2em;
    border-bottom: 2px solid rgb(206, 206, 206);
}

li > i {
    color: red;
    margin-left: 2em;
}

li > span {
    display: block;
    color: rgb(197, 197, 197);
    font-size: 0.8em;
}