@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,600,600italic");

html {
    scroll-behavior: smooth;
}

body {
    background-color: white;
    font-family: Source Sans Pro;
    font-size: 1em;
    margin: 0px;
    overflow-x: hidden;
}

.header {
    background-color: white;
    display: flex;
    flex-wrap: nowrap;
    font-size: 2em;
}

.header > div {
    width: 50%;
    padding: 0.5em 0em;
}

.header div > a {
    text-decoration: none;
    padding: 0em 1em;
}

.header div > a > span {
    font-weight: 500;
    color: #1d1d1d;
}

.header div > a > span:nth-child(1) {
    font-weight: 600;
    color: #1d1d1d;
}

.header div > a:hover > span {
    font-weight: 600;
}

.header div > a:hover > span:nth-child(1) {
    font-weight: 500;
}

.nav {
    margin: auto;
    text-align: center;
    font-size: 1em;
}

.nav > a {
    color: #1d1d1d;
    text-decoration: none;
    padding: 0em 1em;
    font-weight: 600;
    font-size: 0.7em;
    transition: border .2s;
}

.nav > a:hover {
    border-bottom: 2px solid #87cefa;
}

.fa-shopping-cart:before {
    padding-left: 1em;
    font-size: 0.8em;
}

.nav > span {
    font-size: 0.7em;
    font-weight: 600;
    margin: 0.5em;
    cursor: pointer;
}


/* END OF HEADER */

.title-container {
    background-image: url("bg.png");
    background-position: center;
    margin-bottom: 3em;
}

.title-container > div {
    padding: 8em 8em;
}

.title > span {
    font-size: 2em;
    font-weight: 600;
    color: #1d1d1d;
    display: block;
}

.title > span:nth-child(2) {
    font-size: 3em;
    display: inline;

}

.title > span:nth-child(3) {
    font-size: 2em;
    display: inline;

}

.title > h2 {
    color: #1d1d1d;
}
.title > a {
    border: none;
    color: white;
    font-weight: 600;
    font-size: 1.2em;
    background-color: #87cefa;
    padding: 1em 1em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 1em 0em;
    border-radius: 1em;
}

.title > a:hover {
    background-color: #71c7fd;
    transition: 0.3s;
}

.introduction {
    margin-bottom: 5em;
}
.introduction > h2 {
    font-size: 1.8em;
    text-align: center;
}

.cards {
    display: grid;
    /*grid-template-columns: 1fr 1fr 1fr;*/
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding: 0em 10em;
}
.card {
    background-color: #f8f8f8;
    margin: auto;
    width: 20em;
    border-radius: 0.5em;
    text-align: center;
    box-shadow: 0px 15px 32px 1px #bababa;
    margin-bottom: 2em;
}

.card > img {
    display: block;
    margin: auto;
    padding: 1em 1em;
    width: 6em;
    height: 6em;
}
.card > span {
    font-size: 1.5em;
    font-weight: 600;
}

.card > p {
    font-size: 1.3em;
    padding-bottom: 1em;
}

.footer {
    background-color: #1d1c66;
    background-color: #87cefa;
    padding: 3em 20em;
    display: flex;
}

.footer a {
    color: black;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.footer > div {
    width: 50%;
}

.footer input {
    display: flex;
    margin-bottom: 2em;
}

.footerbtn > a {
    background-color: #ffffff;
    border-radius: 0.5em;
    padding: 1em 2em;
    color: black;
    font-weight: 600;
    text-decoration: none;
}

.footerbtn > a:hover {
    background-color: #ebebeb;
    text-decoration: none;
}

.underline {
    border-bottom: 2px solid #87cefa;

}

.products-container {
    background-color: #efefef;
    padding: 2em 8em;
}

.products-container > h2 {
    text-align: center;
}

.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.product-card {
    border: 1px solid lightgrey;
    background-color: white;
    margin: 0em auto;
    width: 20em;
    border-radius: 0.3em;
    border-top: 4px solid #87cefa;
    text-align: center;
    margin-bottom: 2em;
}

.product-card > img {
    display: block;
    margin: auto;
    padding: 1em 1em;
    width: 6em;
    height: 6em;
}
.product-card > span {
    font-size: 1.5em;
    font-weight: 600;
}

.product-card > p {
    font-size: 1.3em;
    padding-bottom: 1em;
}

.addtocart-btn {
    padding: 3em 0em;
}
.addtocart-btn > a {
    background-color: #87cefa;
    border-radius: 0.5em;
    padding: 1em 2em;
    color: white;
    font-weight: 600;
    text-decoration: none;
}

.addtocart-btn > a:hover {
    background-color: #71c7fd;
}

.product-card-list {
    text-align: left;
    padding: 0em 4em;
}

.product-card-list > ul {
    list-style-type: '\2713';
}

.product-card-list > ul > li {
    padding-left: 0.8em;
}

.about-container > .img-container {
    background-image: url("bg.png");
    background-position: center;
    margin-bottom: 2em;
}

.img-container > div {
    font-size: 2em;
    margin: auto;
    padding: 4em 5em;
}

.about-container h1, h3{
    margin: 0em 0em;
}


.about {
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 3em;
}

.about-text {
    padding: 1em 10em;
    display: flex;
}

.about-text > div {
    font-size: 1.3em;
    margin: 0em 1em;
    display: inline;
}

.about-text :nth-child(2) {
    display: inline-flex;
    margin: auto;
}

.about-text > div > img {
    width: 100%;
}






/*
@media only screen and (max-width: 1400px) {
    .cards {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 1000px) {
    .cards {
        grid-template-columns: 1fr;
        padding: 0em 0em;
    }
}
*/

@media screen and (max-width: 1250px) {
    .products-container {
        padding: 4em 0em;
    }

    .products {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 1010px) {
    .header {
        display: block;
    }

    .header > div {
        width: auto;
        padding: 0.2em 0em;
        text-align: center;
    }

    .title-container {
        font-size: 0.8em;
    }

    .img-container {
        font-size: 0.8em;
    }

    .cards {
        padding: 0em 5em;
    }
    
    .footer {
        padding: 3em 2em;
    }
}

@media screen and (max-width: 875px) {
    .about-text {
        padding: 0em 0em;
    }

    .about {
        margin-bottom: 1em;
    }
    .about-text > div > img {
        display: none;
    }
}

@media screen and (max-width: 700px) {
    .products {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width: 520px) {
    .nav > i {
        display: inline;
    }
}